<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Bootstrap, from LayoutIt!</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
		<link href="__PUBLIC__/css/public.css" rel="stylesheet">
		<link href="__PUBLIC__/css/adipoli.css" rel="stylesheet">
		<!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet"> -->
		<link rel="shortcut icon" href="__PUBLIC__/img/favicon.png">
		<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
	</head>
	<body>
		<!-- 头部 -->
		<div class="header">
		</div>
		<!--  内容  -->
		<div class="container">
			<!-- 主体内容 -->
			<div class="row main">
				<div class="col-xs-12 current-topic">
					<p><button type="button" class="btn btn-danger">已关注球队</button></p>
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>序号</th>
								<th>开赛时间</th>
								<th>联赛</th>
								<th>主队</th>
								<th>客队</th>
								<th>A网水位</th>	
								<th>B网水位</th>
								<th>匹配值</th>
							</tr>
						</thead>
						<tbody>							
							<tr>
								<td>1</td>
								<td>2014-05-31 02:30:00</td>
								<td>友谊赛</td>
								<td><font style="color:Red"> 奥地利 </font></td>
								<td> 冰岛</td>
								<td>-0.8(2.25 )</td>
								<td><font style="color:Red">0.64(新宝)</font></td>
								<td>-0.14</td>
							</tr>
							<tr>
								<td>2</td>
								<td>2014-05-31 02:30:00</td>
								<td>友谊赛</td>
								<td><font style="color:Red"> 奥地利 </font></td>
								<td>冰岛</td>
								<td>-0.8(2.25 )</td>
								<td><font style="color:Red">0.64(新宝)</font></td>
								<td>-0.14</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- 底部 -->
	</body>
</html>